@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
nav{
    display: flex;
    flex-direction: column;
    padding: 158px 35px;
    background: #1A2036;
    border-radius: 20px;
    ul{
        display: flex;
        flex-direction: column;
        gap: 15px;
        #speciel{
            border-radius: 10px;
            background: #242B42;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        li{
            padding: 13px;
        }
    }
}