@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
nav{
    display: flex;
    flex-direction: column;
    padding: 158px 35px;
    background: #1A2036;
}